<div id="musician-search-genre">

<div class="jumbotron text-center">
  <h1>I want my musician to play this/these genres:</h1>
  <div>
    <%= form_tag("users/search", method: "post") do %>
    <% @genres.each do |genre_obj| %>
    <%= check_box_tag("[Genre][#{genre_obj.id}]", "#{genre_obj.name}") %>
    <%= label_tag("#{genre_obj.name}", nil, :class => "h2") %>
    <% end %>
    <%= hidden_field_tag :group, "Musicians" %>
    <br>
    <%= submit_tag("Search", :class => "btn btn-primary btn-lg") %>
    <% end %>
  </div>
</div>

<div class="alert alert-success" role="alert">
  <h2 class="text-center"><%= @musicians.count  %> <%= @musicians.count > 1 ? "results:" : "result:" %></h2>
</div>

<div class="row">
   <% @musicians.each do |musician| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYeMmqgj1FO8TbWrQoyo33lLB23fY0xpU6i-yWB4qdjf1mtYTrteryRQ" alt="..." class="pull-left">
      <div class="caption">
        <h3 class="text-center"><%= musician.username %></h3>
        <p class="text-center"><%= musician.instruments.first.name %></p>
        <% if !musician.genres.empty? %>
        <p class="text-center"><%= musician.genres.first.name %></p>
        <% end %>
        <p class="text-right"><a href="/users/<%= musician.id %>" class="btn btn-primary" role="button">Profile</a></p>
      </div>
    </div>
  </div>
  <% end %>
</div>

</div>
