<div id="musicians-instruments-search">
  <% if !@musicians.empty? %>
  <div class="jumbotron text-center">
    <h1>I want my musician to play this/these instruments:</h1>
    <div>
      <%= form_tag("users/search", method: "post") do %>
      <% @instruments.each do |instru_obj| %>
      <%= check_box_tag("[Instrument][#{instru_obj.id}]", "#{instru_obj.name}") %>
      <%= label_tag("#{instru_obj.name}", nil, :class => "h2") %>
      <%= hidden_field_tag :musicians, @musicians_ids %>
      <% end %>
      <br>
      <%= submit_tag("Search", :class => "btn btn-primary btn-lg") %>
      <% end %>
    </div>
  </div>

  <div class="alert alert-success" role="alert">
  <h2 class="text-center"><%= @musicians.count  %> <%= @musicians.count > 1 ? "results:" : "result:" %></h2>
  </div>

 <div class="row">
   <% @musicians.each do |musician| %>
  <div class="col-sm-6 col-md-4">
  <div class="drop-shadow">
    <div class="thumbnail">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYeMmqgj1FO8TbWrQoyo33lLB23fY0xpU6i-yWB4qdjf1mtYTrteryRQ" alt="..." class="">
      <div class="caption">
        <h3 class="text-center"><%= musician.username %></h3>
        <% if !musician.instruments.empty? %>
        <p class="text-center"><%= musician.instruments.first.name %>
           <% if !musician.genres.empty? %> | <%= musician.genres.first.name %>
        </p>
        <% end %>
        <% end %>
        <p class="text-center"><%= musician.city %>, <%= musician.state %> | Miles from me: <%= musician.distance_from(User.find(current_user.id), :units=>:miles).round() %></p>
        <p class="text-right"><a href="/users/<%= musician.id %>" class="btn btn-primary" role="button">Profile</a></p>
      </div>
    </div>
    </div>
  </div>
  <% end %>
</div>

  <% else %>
  <div class="alert alert-danger" role="alert">
  <h2 class="text-center">Sorry, there are no results that match that query.</h2>
  </div>
  <%= link_to "Home", root_path, :class => "btn btn-primary btn-lg" %>
  <% end %>
</div>
