<div id="search-instrument">
  <h4>Choose an Instrument:</h4>
  <div>
   <%= form_tag do%>
   <% @instruments.uniq.each do |instru_obj| %>
   <%= radio_button_tag(:instrument, "#{instru_obj.name}") %>
   <%= label_tag("#{instru_obj.name}") %>
   <%= hidden_field_tag :group, "Musicians" %>
   <% end %>
 </div>

 <div>
  <h4>Musicians</h4>
  <ol>
    <% @musicians.each do |musician| %>
    <li><%= musician.username %></li>
    <% end %>
  </ol>
</div>

</div>
