<div id="musician-search-genre">
  <h4>I want my musician to play this/these genres:</h4>
  <div>
    <%= form_tag("users/search", method: "post") do %>
    <% @genres.each do |genre_obj| %>
    <%= check_box_tag("[Genre][#{genre_obj.id}]", "#{genre_obj.name}") %>
    <%= label_tag("#{genre_obj.name}") %>
    <% end %>
    <%= hidden_field_tag :group, "Musicians" %>
    <%= submit_tag("Search") %>
    <% end %>
  </div>


  <div>
    <h4>Musicians</h4>
    <ol>
      <% @musicians.each do |musician| %>
      <li><%= musician.username %></li>
      <% end %>
    </ol>
  </div>

  <div>
    <%= link_to "Back", root_path %>
  </div>
</div>
