<div class="container">
<h2>Update My Profile</h2>

<h2>Update your information below:</h2>
<%= form_for @user, url: user_path(@user), method: :put do |f| %>

  <p><%= f.label :username %></p>
  <p><%= f.text_field :username %></p>

  <p><%= f.label :email %></p>
  <p><%= f.text_area :email %></p>

  <p><%= f.label :username %></p>
  <p><%= f.text_field :username %></p>

  <p><%= f.label :genres %></p>
  <p><%= f.text_field :genres %></p>

  <p><%= f.label :instruments %></p>
  <p><%= f.text_field :instruments %></p>

  <%= f.submit "Update", class: "button" %>
<% end %>
</div>

<p><%= link_to "Delete Me", user_path(@user), method: :delete %></p></div>
