<div class="container">
<h2>Update My Profile</h2>

<h2>Update your information below:</h2>

<%= form_for @user, url: user_path(@user), method: :put do |f| %>

<% if @errors %>
    <% @user.errors.full_messages.each do |error| %>
      <h2 class=""><%= error %></h2><br>
    <% end %>
  <% end %>

  <p><%= f.label :username %></p>
  <p><%= f.text_field :username %></p>

  <h4>Please enter instruments separated by a comma.</h4>
  <p><%= f.label :instruments %></p>
  <p><%= f.text_field :instruments, :value => "" %></p>

  <p><%= f.label :genres %></p>
    <% @genres.each do |genre| %>
        <p>
          <%= check_box_tag 'genre_types[]', genre %>
          <%= genre %>
        </p>
    <% end %>

  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>

  <p><%= f.label :phone %></p>
  <p><%= f.text_field :phone %></p>

  <p><%= f.label :bio %></p>
  <p><%= f.text_area :bio %></p>


  <%= f.submit "Update", class: "button" %>
<% end %>
</div>

