<div class="jumbotron">
  <h2 class="user-profile"s><%= @user.username %></h2>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h3 class="user-profile">Instruments</h3>
      <% @user.instruments.each do |instrument| %>
      <p><%= instrument.name %></p>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-6">
        <% if logged_in? %>
          <%= button_to "Send Email", email_user_path(@user), class: "btn btn-default" %>
          <% if current_user.id == @user.id %>
            <%= button_to "Edit Profile", edit_user_path(current_user), method: :get, class: "btn btn-default" %>
            <%= button_to "Delete Profile", user_path, :confirm => 'Are you sure?',method: :delete, class: "btn btn-default" %>
            <%= form_tag new_media_resource_path, method: "get" do %>
            <%= hidden_field_tag :user_id, @user.id %>
            <%= submit_tag("Add Media Resource", class: "btn btn-default") %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h3 class="user-profile">Genres</h3>
      <% @user.genres.each do |genre| %>
      <p><%= genre.name %></p>
      <% end %>
    </div>
    <div class "row">
      <div class="col-md-6">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="user-profile">Bands</h3>
      <% @user.bands.each do |band| %>
      <p><%= band.name %></p>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h3 class="user-profile">Biography</h3>
      <p><%= @user.bio %></p>
    </div>
    <div class="col-md-6">
      <div class="col-md-6">
        <% if @user.has_media_resources? %>
          <% @user.media_resources.each do |resource| %>
            <% if resource.media_type == "youtube" %>
              <iframe width="600", height="495", src="<%= youtube_embed_link resource %>" , frameborder="0", allowfullscreen></iframe>
              <p class="media-resource-description"> <%= resource.content %></p>
              <%= button_to "Delete This", media_resource_path(resource), method: :delete, class: "btn btn-default" %>
            <% end %>
           <% if resource.media_type == "soundcloud" %>
            <p><%= resource.content %>:</p>
            <p><%= link_to 'track', resource.link %></p>
          <%= button_to "Delete This", media_resource_path(resource), method: :delete, class: "btn btn-default" %>
          <% end %>
        <% if resource.media_type == "image" %>
          <p> <%= resource.content %>:</p>
          <img src="<%= resource.link %>">
          <%= button_to "Delete This", media_resource_path(resource), method: :delete, class: "btn btn-default" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>




