<div class="jumbotron">
  <h2 class="user-profile"><%= @user.username %></h2>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h3 class="user-profile">Instruments</h3>
      <% @user.instruments.each do |instrument| %>
       <p class="user-data"><%= instrument.name %></p>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="btn-group" role="group">
        <% if logged_in? %>
          <%= button_to "Send Email", email_user_path(@user), class: "btn btn-lg" %>
          <% if current_user.id == @user.id %>
            <%= button_to "Edit Profile", edit_user_path(current_user), method: :get, class: "btn btn-lg" %>
            <%= button_to "Delete Profile", user_path, :confirm => 'Are you sure?', method: :delete, class: "btn btn-lg" %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h3 class="user-profile">Genres</h3>
      <% @user.genres.each do |genre| %>
      <p class="user-data"><%= genre.name %></p>
      <% end %>
    </div>
    <div class "row">
      <div class="col-md-6">
        <% if logged_in? %>
          <% if current_user.id == @user.id %>
            <%= form_tag new_media_resource_path, method: "get" do %>
              <%= hidden_field_tag :user_id, @user.id %>
              <%= submit_tag("Add Media Resource", class: "btn btn-lg") %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="user-profile">Bands</h3>
      <% @user.bands.each do |band| %>
       <p class="user-data"><%= band.name %></p>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h3 class="user-profile">Biography</h3>
       <p class="user-data"><%= @user.bio %></p>
    </div>
  </div>
</div>


    <% if @user.has_media_resources? %>
      <% @user.media_resources.each do |resource| %>
          <% if resource.media_type == "image" %>
            <div class="image">
              <img src="<%= resource.link %>">
              <p> <%= resource.content %></p>
              <%= button_to "Delete This", media_resource_path(resource), method: :delete, class: "btn btn-default" %>
            </div>
          <% end %>
          <% if resource.media_type == "youtube" %>
          <div class="youtube">
            <iframe width="600", height="495", src="<%= youtube_embed_link resource %>" , frameborder="0", allowfullscreen></iframe>
            <p class="media-resource-description"> <%= resource.content %></p>
            <%= button_to "Delete This", media_resource_path(resource), method: :delete, class: "btn btn-default" %>
          </div>
          <% end %>
          <% if resource.media_type == "soundcloud" %>
          <div class="soundcloud">
            <div><%= link_to 'track', resource.link %></div>
            <p><%= resource.content %></p>
            <%= button_to "Delete This", media_resource_path(resource), method: :delete, class: "btn btn-default" %>
          </div>
          <% end %>
        <% end %>
      <% end %>





