<div class="inner-container">
  <div class="profile-photo"></div>
  <div class="inner-container">

    <h3>Instruments</h3>
    <% @user.instruments.each do |instrument| %>
      <div class="inner-container"><%= instrument.name %></div>
    <% end %>
  </div>

  <div class="inner-container">
    <h3>Genres</h3>
    <% @user.genres.each do |genre| %>
      <div class="inner-container"><%= genre.name %></div>
    <% end %>
  </div>

  <div class="inner-container">
    <h3>Bands</h3>
    <% @user.bands.each do |band| %>
      <div class="inner-container"><%= band.name %></div>
    <% end %>
  </div>

  <div class="inner-container">
    <h3>BIO</h3>
    <p><%= @user.bio %></p>
  </div>

  <div class="buttons">
    <%= button_to "See my Work", root_path, method: :get, class: "button" %>
  </div>

  <% if logged_in? %>
    <% if current_user.id == @user.id %>
      <div class="buttons">
        <%= button_to "Edit Profile", edit_user_path(current_user), method: :get, class: "button" %>
        <%= button_to "Delete Profile", root_path, :confirm => 'Are you sure?',method: :delete, class: "button" %>
        <%= button_to "Send Email", , method: :get, class: "button" %>
      </div>
    <% end %>
  <% end %>
</div>
