<span>Who Are You Searching For?</span>
<%= form_tag("/search", method: "post") do %>
<%= radio_button_tag(:type, "musicians") %>
<%= label_tag("Musicians") %>
<%= radio_button_tag(:type, "band") %>
<%= label_tag("Bands") %>
<%= submit_tag("Search") %>
<% end %>