<div class="container">

<h2>Update My Profile</h2>

<h2>Update your information below:</h2>
<%= form_for @band, url: band_path(@band), method: :put do |f| %>

  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>


  <p><%= f.label :bio %></p>
  <p><%= f.text_field :bio %></p>

  <p><%= f.label :admin %></p>
  <p><%= f.text_field :admin %></p>

  <p><%= f.label :instruments %></p>
  <p><%= f.text_field :band[:instruments] %></p>

  <p><%= f.label :members %></p>
  <p><%= f.text_field :band[:members] %></p>

  <%= f.submit "Update my Band", class: "button" %>
<% end %>
</div>

<p><%= link_to "Delete my Band", band_path(@band), method: :delete %></p></div>
