<div class="inner-container">
<h2>Update My Profile</h2>

<h2>Update your information below:</h2>
<%= form_for @band, url: band_path(@band), method: :put do |f| %>

  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>

  <p><%= f.label :bio %></p>
  <p><%= f.text_area :bio %></p>

<% if current_user.id == @band.admin.id %>
  <p><%= f.label :admin %></p>
  <p><%= f.text_field :admin, :value => "" %></p>

  <p><%= f.label :members %></p>
  <p><%= f.text_field :instruments, :value => "" %></p>
<% end %>
  <%= f.submit "Update my Band", class: "button" %>
  <% end %>
</div>

