<div class="inner-container">
<h2>Update My Profile</h2>

<h2>Update your information below:</h2>
<%= form_for @band, url: band_path(@band), method: :put do |f| %>

  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>

  <p><%= f.label :bio %></p>
  <p><%= f.text_area :bio %></p>

  <p><%= f.label :admin_name %></p>
  <p><%= f.text_field :admin_name, :value => "" %></p>

  <h4>Enter member names separated by commas!</h4>
  <p><%= f.label :members %></p>
  <p><%= f.text_area :members, :value => "" %></p>

  <%= f.submit "Update my Band", class: "button" %>
  <% end %>
</div>

<% if current_user.id == @band.admin.id %>
<% end %>
