<div class="jumbotron">
  <h2 class="band-profile"><%= @band.name %></h2>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
    <h3 class="user-profile">Instruments</h3>
      <% @band.users.each do |user| %>
      <p class="user-data"><%= user.username %>:</p>
        <% user.instruments.each do |instrument| %>
      <p class="user-data"><%= instrument.name %></p>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="btn-group" role="group">
          <% if logged_in? %>
            <%= button_to "Send Email", email_user_path(@band_admin), class: "btn btn-lg" %>
            <% if current_user.id == @band.admin.id %>
                <%= button_to "Edit Profile", edit_band_path(@band), method: :get, class: "btn btn-lg" %>
                <%= button_to "Delete Profile", band_path(@band), method: :delete, class: "btn btn-lg" %>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
    <h3 class="user-profile">Genres</h3>
    <% @band.genres.each do |genre| %>
    <p class="user-data"><%= genre.name %></p>
    <% end %>
   </div>
    <div class "row">
      <div class="col-md-6">
        <% if logged_in? %>
          <% if current_user.id == @band.admin.id %>
            <%= form_tag new_media_resource_path, method: "get" do %>
            <%= hidden_field_tag :band_id, @band.id %>
            <%= submit_tag("Add Media Resource", class: "btn btn-lg") %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
    <h3 class="user-profile">Members</h3>
    <% @band.users.each do |user| %>
    <p class="user-data"><%= user.username %></p>
    <% end %>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
    <h3 class="user-profile">Contact:</h3>
    <p class="user-data"><%= @band.admin.username %>:</p>
    <p class="user-data"><%= @band.admin.email %></p>
    <p class="user-data"><%= @band.admin.phone %></p>

    <h3 class="user-profile">Biography</h3>
       <p class="user-data"><%= @band.bio %></p>
    </div>
  </div>
</div>

<% if logged_in? %>
  <% if @band.has_media_resources? %>
    <% @band.media_resources.each do |resource| %>
      <% if resource.media_type == "youtube" %>
        <div class="youtube">
          <iframe width="600", height="495", src="<%= youtube_embed_link resource %>" , frameborder="0", allowfullscreen></iframe>
          <p class="media-resource-description"> <%= resource.content %></p>
           <% if current_user.id == @band.admin.id %>
          <%= button_to "Delete This", media_resource_path(resource), method: :delete, class: "btn btn-default" %>
           <% end %>
        </div>
        <% end %>

      <% if resource.media_type == "soundcloud" %>
        <div class="soundcloud">
          <div><%= link_to 'track', resource.link %></div>
          <p class="media-resource-description"><%= resource.content %></p>
           <% if current_user.id == @band.admin.id %>
          <%= button_to "Delete This", media_resource_path(resource), method: :delete, class: "btn btn-default" %>
          <% end %>
        </div>
      <% end %>

      <% if resource.media_type == "image" %>
        <div class="image">
          <div>
          <img src="<%= resource.link %>">
          </div>
          <p class="media-resource-description"> <%= resource.content %></p>
           <% if current_user.id == @band.admin.id %>
          <%= button_to "Delete This", media_resource_path(resource), method: :delete, class: "btn btn-default" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>



