<div id="inner-container">
  <div class="profile-photo"></div>

  <div class="inner-container">
    <h3>Band name:</h3>
    <div class="inner-container"><%= @band.name %></div>

    <h3>Instruments</h3>
    <div class="inner-container">
      <% @band.users.each do |user| %>
      <%= user.username %>:
      <% user.instruments.each do |instrument| %>
      <div class="tag"><%= instrument.name %></div>
      <% end %><br>
      <% end %>
    </div>
  </div>

  <div class="inner-container">
    <h3>Genres</h3>
    <% @band.genres.each do |genre| %>
    <div class="tag"><%= genre.name %></div>
    <% end %>
  </div>

  <div class="inner-container">
    <h3>Members</h3>
    <% @band.users.each do |user| %>
    <div class="tag"><%= user.username %></div>
    <% end %>
  </div>

  <div class="inner-container">
    <h3>Contact:</h3>
    <%= @band.admin.username %>:<br>
    <%= @band.admin.email %><br>
    <%= @band.admin.phone %>
  </div>

  <div class="inner-container">
    <h3>BIO</h3>
    <p><%= @band.bio %></p>
  </div>
</div>

<% if logged_in? %>
<% if true || current_user.id == @band.admin.id %>
<div class="buttons">
  <%= button_to "Edit Profile", edit_band_path(@band), method: :get, class: "button" %>
  <%= button_to "Delete Profile", band_path(@band), method: :delete, class: "button" %>
  <%= form_tag new_media_resource_path, method: "get" do %>
  <%= hidden_field_tag :band_id, @band.id %>
  <%= submit_tag("Add Media Resource", class: "button") %>
  <% end %>
</div>
<% end %>
<% end %>

<% if @band.has_media_resources? %>
<%= button_to "See Our Work", root_path, method: :get, class: "button link_media_resources", data: {id: @band.id} %>
<div class="media-resources">
  <% @band.media_resources.each do |resource| %>
  <% if resource.media_type == "youtube" %>
  <div> <p> <%= resource.content %>:</p>
    <iframe width="420", height="315", src="<%= youtube_embed_link resource %>" , frameborder="0", allowfullscreen></iframe>
  </div>
  <div>
    <%= form_tag media_resource_path(resource), method: :delete do %>
    <%= hidden_field_tag :band_id, @band.id %>
    <%= submit_tag("Delete This", class: "button") %>
    <% end %>
  </div>
  <% end %>
  <% if resource.media_type == "soundcloud" %>
  <div> <p><%= resource.content %>:</p>
    <p><%= link_to 'track', resource.link %></p>
  </div>
  <div>
    <%= form_tag media_resource_path(resource), method: :delete do %>
    <%= hidden_field_tag :band_id, @band.id %>
    <%= submit_tag("Delete This", class: "button") %>
    <% end %>
  </div>
  <% end %>
  <% if resource.media_type == "image" %>
  <div> <p> <%= resource.content %>:</p>
    <img src="<%= resource.link %>">
  </div>
  <div>
    <%= form_tag media_resource_path(resource), method: :delete do %>
    <%= hidden_field_tag :band_id, @band.id %>
    <%= submit_tag("Delete This", class: "button") %>
    <% end %>
  </div>
  <% end %>
  <% end %>
</div>
<% end %>
</div>

