<!DOCTYPE html>
<html>
<head>
  <title>PatchCord</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <a href="/">PatchCord</a>
    <% if logged_in? %>

  <a href="#"><%= current_user.username %></a>
  <%= link_to "Log Out", logout_path %>
    <% else %>
    <%= link_to 'Google', oauth_login_path(:google_oauth2) %>
    <%= link_to 'Twitter', oauth_login_path(:twitter) %>
    <%= link_to 'Soundcloud', oauth_login_path(:soundcloud) %>
    <%= link_to "Sign Up" %>
  <% end %>
</header>

<% if flash[:error] %>
  <p class='error'><%= flash[:error] %></p>
<% end %>

<% if flash[:notice] %>
  <p class='notice'><%= flash[:notice] %></p>
<% end %>

<%= yield %>

</body>
</html>
