<!DOCTYPE html>
<html>
<head>
  <title>PatchCord</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="esmpi_ieQ9F4MMAcS2dSZRhTL4402wurmudbaX05Jug" />
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid ">
      <div class="navbar-header">
        <a class="navbar-brand " href="/">
          <%=image_tag("patchcord_logo.png", :style => "max-width:60px; margin-top: -12px;")%></a>
      </div>
      <% if logged_in? %>
      <div id="logged-in-btns">
        <%= link_to "Log Out",  logout_path, :class => "navbar-text navbar-right link-nav" %>
        <%= link_to "#{current_user.username}", user_path(current_user), :class => "navbar-text navbar-right link-nav" %>
        <%= link_to 'Create a Band', new_band_path, :class => "navbar-text navbar-right link-nav" %>
      </div>
      <% else %>
      <div id="logged-out-btns">
        <%= link_to 'Google', oauth_login_path(:google_oauth2), :class => "navbar-text navbar-right link-nav" %>
        <%= link_to 'Twitter', oauth_login_path(:twitter), :class => "navbar-text navbar-right link-nav" %>
        <%= link_to 'Soundcloud', oauth_login_path(:soundcloud), :class => "navbar-text navbar-right link-nav" %>
      </div>
      <% end %>
    </div>
  </div>
</nav>


<% if flash[:error] %>
<div class='alert alert-error' role="alert">
  <h2 class="text-center">
    <%= flash[:error]%>
  </h2>
</div>
<% end %>

<% if flash[:notice] %>
<div class='alert alert-success' role="alert">
  <h2 class="text-center">
    <%= flash[:notice]%>
  </h2>
</div>
<% end %>


<%= yield %>

</body>
</html>
