<!DOCTYPE html>
<html>
<head>
  <title>PatchCord</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="esmpi_ieQ9F4MMAcS2dSZRhTL4402wurmudbaX05Jug" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand " href="/">
          <%=image_tag("patchcord_logo.png", :style => "max-width:100px; margin-top: -7px;")%>
        </a>
      </div>
      <% if logged_in? %>
      <div id="logged-in-btns">
        <%= link_to "Log Out",  logout_path, :class => "navbar-text navbar-right" %>
        <%= link_to "#{current_user.username}", user_path(current_user), :class => "navbar-text navbar-right" %>
        <%= link_to 'Create a Band', new_band_path, :class => "navbar-text navbar-right" %>
      </div>
      <% else %>
      <div id="logged-out-btns">
        <%= link_to 'Google', oauth_login_path(:google_oauth2), :class => "navbar-text navbar-right" %>
        <%= link_to 'Twitter', oauth_login_path(:twitter), :class => "navbar-text navbar-right" %>
        <%= link_to 'Soundcloud', oauth_login_path(:soundcloud), :class => "navbar-text navbar-right" %>
      </div>
      <% end %>
    </div>

  </div>

</nav>


<% if flash[:error] %>
<div class='alert alert-error' role="alert">
  <h2 class="text-center">
    <%= flash[:error]%>
  </h2>
</div>
<% end %>

<% if flash[:notice] %>
<div class='alert alert-success' role="alert">
  <h2 class="text-center">
    <%= flash[:notice]%>
  </h2>
</div>
<% end %>


<%= yield %>

</body>
</html>
